
<h1>Catálogo de serviços</h1>

<div>

    <div style="margin-top:20px;">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody id="corpoTabela">
                    <% lista.forEach(function(value, index) { %>
                            <tr>
                                <td><%= value.servId %></td>
                                <td><%= value.servDesc %></td>
                                <td>R$<%= value.servValor %></td>
                            </tr>   
                        <% }) %>        
                </tbody>
            </table>
        </div>

    </div>
</div>